@font-face {
    font-family: 'Bebas Neue';
    src: url(Fonts/BebasNeue\ Bold.otf) format(otf);
}



.wrapper {
    background-color: rgb(26, 148, 248);
    width: 45%;
    height: 100%;
}

p {
    font-family: 'Lato';
}

.adresse{
    color: white;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    position: relative;
    bottom: 30px;
    left: 220px;
}

a {
    font-family: 'Bebas Neue';
}

h1 {
    font-size: 3rem;
    font-family: 'Bebas Neue';
    padding-left: 90px;
    padding-top: 50px;
}

article {
    display: flex;
    margin-left: -30px;
}


.kind {
    padding: 20px;

}

.KindText {
    font-size: 1.3rem;
font-weight: 700;
    color: white;
    position: relative;
    top: 80px;
}

.navimg{
    padding-bottom: 60px;
    width: 200px;
  object-position: right top;
}

.page{
    display:flex;
    
}

.president {
    position: relative;
    top: 180px;
   width: 700px;
   height: auto;
}

.title{
    color: white;
    width: 600px;
padding-left: 10px ;
padding-top: 20px;
padding-bottom: 10px;
font-size: 3rem;
background-color: rgb(51, 51, 51);
text-align: center;
}

.presidenttext {
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
}

.eventimg{
    width: 600px;
    height: auto;
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
}