@font-face {
    font-family: "Bebas neue";
    src: url(Fonts/BebasNeue\ Bold.otf)format("otf");
}

body {/*writing-mode: vertical-lr; Testweise Kommentare entfernen*/
    background-image: url('image/abstract-WHALE.png');
    background-size: cover;
}



h1{
    font-family: "Bebas Neue";
    font-style: Bold;
    font-size: 2rem;
}
.grid-container{
    padding-top: 400px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
 }
.colum1{
    width: 700px;
    height: auto;
}
 .colum2{
    padding-top: 90px;
    padding-left: 40px;
    width: 700px;
    height: auto;
 }

 
 .whaleimg{
    position: relative;
    padding-left: 100px;
    width:500px;
    height: auto;
 }
 .haupttext{
    hyphens: auto; 
	text-align: justify;
 }
.textrechts{
    text-align: right;
    padding-right: 20px;
    padding-left: 40px;
}

.dvd{
    width: 150px;
    height: auto;
    position: relative;
}

.last{
    display: flex;
}

.presi{
    margin-top: 50px;
    display: flex;
}

.presiimg{
    width: 100px;
    height: 100px;
}

span{
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 2rem;
}

.textpresi{
    padding-left: 20px;
    font-size: 0.8rem;
    margin: 0px;
}