body {background-color: rgb(255, 255, 255);}
.bild{
    margin-bottom: -200px;
    margin-left: 30px;
}
h1{
    font-family: 'Hind', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
h2{ 
    font-family: 'Hind', sans-serif;
    color: rgb(254, 117, 243);
    text-align: center;
    margin-top: -20px;
    font-size: 60px;
}
h3{ 
    font-family: 'Hind', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: -60px;
    font-size: 20px;
    margin-bottom: 20px;

}
p{
    font-family: "Garamond", serif;
    hyphens: auto;
    text-align: justify;
    margin-top: 50px;

img{
    margin-bottom: -500px;
}

  }
  .container1 {
    display: flex; /* or inline-flex */
    justify-content: space-around;
    flex-wrap: wrap;
    align-content:flex-start
  }

.containerbild {
  display: flex; /* or inline-flex */
  justify-content: space-around;
  flex-wrap: wrap;
  align-content:flex-start
}

b{
width: 45%;
}